:root{
    --fonte-principal: "Poppins";
    --cor-de-fundo: #FFFFFF;
    --cor-do-texto: #000000;
    --verde-claro: #92E3A9;
}

.corpo_principal{
    max-width: 425px;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 23.3px;
}