.botoes_selecao{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    .botoes_botao{
        margin: 0 10px;
    }
}

.botao_principal{
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
}

.texto_skip{
    text-align: center;
    color: var(--verde-claro);
    margin-bottom: 3em;
}