.imagem_principal{
    display: flex;
    justify-content: center;
    .imagem_fundo-1{ 
    width: 18.75rem;; 
    height: 18.75rem;
    }
}
.texto_central{
    margin: 0 0.5em;
    .texto_central-titulo{
        font-size: 1.25rem;
        font-weight: 600;
    }

    .textos_centrais{
        padding-top: 1.5rem;
    }

    .textos_central-texto{
        
        
    }
}